<div id="filter_example">
    <div class="container">
        <select class="select-pet" v-model="filter">
            <option value="all" selected>All</option>
            <option value="cat">Cat</option>
            <option value="dog">Dog</option>
            <option value="rabbit">Rabbit</option>
        </select>
        <div class="row">
            <div class="col-6"  v-for="item in items" v-show="filter=='all' || filter==item.vtype">
                <div class="pet-card" v-bind:style="{ 'background-image': 'url(' + item.vimg + ')' }" ></div>
            </div>
        </div>
    </div>
</div>